<html>
  <head>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Resize any image!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
      <form class="span4 offset4 center">
        <h1> Resize images </h1>
        <h2> Enter an image url </h2>
        <input type="text" class="input-block-level" value="http://i.imgur.com/75Jr3.jpg" name="link">
        <button class="btn btn-large btn-primary" type="submit">Resize</button>
      </form>
      <div class="span4 offset4">
        <h2> Example </h2>
        <p>
          <code>
            width = 100
          </code>
        </p>
        <p>
          <code>
            url = http://i.imgur.com/75Jr3.jpg
          </code>
        </p>
        <img src="/?link=http://i.imgur.com/75Jr3.jpg&width=100"/>
      </div>
    </div>
  </body>
</html>

